@import 'tailwindcss';
@config '../../../tailwind.config.js';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--gradient-backdround: theme('background.gradient-main')
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--gradient-background: theme('background.gradient-main');
	}
}

body {
	background: var(--gradient-background);
	color: var(--foreground);
}